#input-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#gross-net-div {
    display: flex;
    justify-content: space-between;
}

input {
    max-width: max-content;
}

button {
    max-width: max-content;
}

body {
    max-width: fit-content;
}